
.noorders h2{
    text-transform: capitalize;
    text-align: center;
    font-size: large;
    padding: 50px;
}

.titleorder h2{
    text-transform: uppercase;
    text-align: center;
    font-size: xx-large;
}

.orderslist{
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
    padding-top: 30px;
}

.orderslist table{
    border: solid 1px;
    border-collapse: collapse;
    max-width: 800px;
}

.orderslist table th{
    text-transform: uppercase;
    background-color: lightblue;
    border: solid 1px;
    padding: 10px;
}

.orderslist table td{
    border: solid 1px;
    padding:10px;
    text-align: center;
}