
.linksadmin{
    display: flex;
    gap: 100px;
    align-items:flex-end;
    justify-content:center;
    margin: 20px 90px 10px 90px;
}

.linksadmin a{
    color:inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.linksadmin a:hover{
    text-decoration: underline;
}